* {
    box-sizing: border-box;
}
body {
    background-image: url("images/Mountain.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.container {
    width: 60%;
    background-color: transparent;
    color: #007399;
    border: 5px solid black;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    text-align: center;
  }

.row {
    background-color: rgb(193, 226, 191);
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top; 5px;
    margin-bottom: 5px;
    text-align: center;
}

.row > div {
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}
h1 {
    font-size: 40px;
    font-weight: bold;
    text-align: left;
  }

h3 {
    font-size: 20px;
    font-weight: bold;
    text-align: left;
  }
.crystalimg {
    height: 120px;
    width: 120px;
}

.populate {
    background-color: rgb(68, 206, 58);
    color: black;
    width: 100%;
    margin: auto;
    font-size: 20px;
    font-weight: bold;
    padding-top: 15px;
    text-align: center;
}